@font-face {
  font-family: "DINCond-Black";
  src: url('DINCond-Black.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothamBook";
  src: url('GothamBook.ttf');
  font-weight: normal;
  font-style: normal;
}